body {
    color: aliceblue;
    background: rgb(195, 127, 229);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(140, 2, 191);
    padding: 20px;
    font-size: 32px;
    color: rgb(140, 2, 191);
 }

   section{
    background: rgba(255, 239, 14, 0.793);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
   }